.paymentform{
    
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
}
.paymentform__heading{
    display: block;
    width: max-content;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}
.paymentform__heading::after{
    display: block;
    position: relative;
    content: "";
    width: 120%;
    height: 1.8px;
    background-color: red;
}
.paymentsform__label{
    display: block;
    width: 300px;
}
.paymentsform__label::after{
    content: " :";
}
.paymentsform__field{
    width: 400px;
}
.paymentsform__sbm{
    display: block;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
    text-transform: uppercase;
    font-family: monospace;
    cursor: pointer;
    border: 2px rgb(202, 202, 202) solid;
}
.paymentsform__sbm:hover{
    background-color: rgb(202, 202, 202);
    color: red;
}