.account{
    box-sizing: border-box;
    display: flex;
    padding-left: 52px;
    width: 100%;
    height: 30px;
    align-items: center;
}

.account__id{
    display: block;
    width: 40px;
}
.account__number{
    width: 350px;
}
.account__balance{
    margin-right: 5px;
}