.user{
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    width: 650px;
    box-sizing: border-box;
    margin-top: 7px;
    background-color: rgb(26, 22, 34);
    border-radius: 20px;
    list-style-type: none;
}
.user p{
    margin-top: 0;
    margin-bottom: 0;
}
.user__properties{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 600px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    height: 40px;

}
.user__id{
    width: 30px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    color: red;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.user__name{
    width: 150px;
}
.user__email{
    width: 300px;
}
.user__age{
    width: 40px;
}
.accounts-label{
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.accounts{
    padding: 0;
    padding-left: 10px;
    margin-left: 50px;
}