.navigation{
    z-index: 1000;
    display: flex;
    width: 400px;
    justify-content: space-around;
    position: fixed;
    left:450px;
    top: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(206, 206, 206);
    border-radius: 7px;
}
.navigation__el{
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}
.navigation__el a{
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(26, 22, 34);
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.2s;
}
.navigation__el a.active{
    color: red;
    background: white;
}
.navigation__el a:hover{
    color: red;
}